<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ARRS - Add Round</title>

  {% load static %}
  <!-- Custom fonts for this template-->
  <link href={% static "vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href={% static "vendor/datatables/dataTables.bootstrap4.css" %} rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href={% static "css/sb-admin.css"%} rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"/>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">A.R.R.S.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="addRound.html"><button type="button" class="btn btn-primary">Add Round</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html"><button type="button" class="btn btn-danger">Log Out</button></a>
            </li>
        </ul>
    </div>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" align="right">
      <li class="nav-item">
        <a class="nav-link" href="dashboard.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-table"></i>
          <span>Rounds</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Actions</h6>
          <a class="dropdown-item" href="records.html">View/Search Rounds</a>
          <a class="dropdown-item" href="addRound.html">Add Round</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Reports</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Manage Reports</h6>
          <a class="dropdown-item" href="#">View/Search Reports</a>
          <a class="dropdown-item" href="reports.html">Generate Reports</a>
          <a class="dropdown-item" href="#">Dozens</a>
        </div>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">
            Add Rounds
          </li>
        </ol>

        <!-- Page Content -->
        <h1>Add New Round(s)</h1>
        <hr>
          <form>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputState">Event</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Varsity Policy</option>
                  <option>Novice Policy</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputState">Competitor</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Esmerelda & Gyther</option>
                  <option>Colon & Nobbs</option>
                  <option>Bill & Alberto</option>
                  <option><a href="#" target="_blank">Add New...</a></option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="inputState">Tournament</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Invitational</option>
                  <option>Sweepstakes</option>
                  <option>National Qualifier</option>
                  <option><a href="#" target="_blank" style="">Add New...</option>
                </select>
              </div>
            </div>
            <h5>Round Details</h5>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputState">Round Type</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Preliminary</option>
                  <option>Octafinal</option>
                  <option>Quarterfinal</option>
                  <option>Semifinal</option>
                  <option>Final</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputState">Opponent</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Sauron & Saruman</option>
                  <option>Bonnie & Clyde</option>
                  <option>Lenin & Trotsky</option>
                  <option>Isaac & Ian</option>
                  <option><a href="#" target="_blank" style="">Add New...</option>
                </select>
              </div>
              <div class="form-group col-md-1">
                <label for="exampleRadios">Outcome</label>
                <div class="form-check" style="margin-left:10px; margin-top: -5px">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    <b>Won</b>
                  </label>
                </div>
                <div class="form-check" style="margin-left:10px">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    <b>Lost</b>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-1">
                <label for="exampleRadios">Position</label>
                <div class="form-check" style="margin-left:10px; margin-top: -5px">
                  <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    <b><font color="green">Affirmative</font></b>
                  </label>
                </div>
                <div class="form-check" style="margin-left:10px">
                  <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    <b><font color="#cc0000">Negative</font></b>
                  </label>
                </div>
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-info">Add Another Round</button>
            <br>
            <br>
            <button type="submit" class="btn btn-success">Log Round</button>
          </form>
        <hr>

      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src={% static "vendor/jquery/jquery.min.js" %}></script>
  <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

  <!-- Core plugin JavaScript-->
  <script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>

  <!-- Page level plugin JavaScript-->
  <script src={% static "vendor/chart.js/Chart.min.js" %}></script>

  <!-- Custom scripts for all pages-->
  <script src={% static "js/sb-admin.min.js" %}></script>

  <!-- Custom scripts for this page -->
  <script src={% static "js/demo/chart-pie-demo.js" %}></script>

</body>

</html>
